<div class="jumbotron">
  <div class="container">
    <h1>Blocmetrics</h1>
    <p>Track events from your website using our analytics service.</p>
    <%= link_to "Sign Up", "#", class: 'btn btn-primary' %> or <%= link_to "Sign In",  "#", class: 'btn btn-primary' %>
  </div>
</div>
