<div class="flash">
  <% flash.each do |key, value| %>
  <div class="alert alert-<%= bootstrap_key(key)%>">
    <a href="#" data-dismiss="alert" class="close">&times;</a>
    <ul>
      <li><%= value %></li>
    </ul>
  </div>
  <% end %>
</div>
